services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile-prod
    container_name: frontend-dashagent
    image: frontend-dashagent
    ports:
      - "3001:3001"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    restart: always
    env_file:
      - .env
