# Web
fastapi
uvicorn[standard]
phonenumbers

# DB
sqlalchemy
psycopg2-binary

# Auth & security
PyJWT
bcrypt
passlib[bcrypt]
python-multipart

# Config
pydantic
pydantic-settings
python-dotenv

# Agent & utils
openai
openai-agents
rich
requests
duckduckgo-search
beautifulsoup4
pandas